body {
    color: #757575;
}

.drop-box-wrapper {
    border: 2px solid;
    outline: 2px dashed;
    outline-offset: -5px;
    margin: auto;
    width: 60%;
    height: 200px;
}

.drop-box-input {
    display: none;
}

.element-dragged {
    background: #EEEEEE;
}

#drop-image-here-lbl {
    font-family: Helvetica;
    font-size: 25px;
}

.thumbnails-container {
    display: flex;
    border: 2px solid pink;
    margin-top: 20px;
}