body {
    color: #757575;
}

.drop-box-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50%;
    height: 200px;

    margin: auto;
    border: 2px solid;

    outline: 2px dashed;
    outline-offset: -5px;
}

.drop-box-input {
    display: none;
}

.element-dragged {
    background: #EEEEEE;
}

#drop-image-here-lbl {
    font-family: Helvetica;
    font-size: 25px;
}

.thumbnails-container {

    width: 80%;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-top: 20px;
}

.img-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #fff;
    border: 1px solid;
    padding: 3px;
    margin: 7px;
}

.remove-btn {
    position: absolute;
    display: flex;
    justify-content: center;

    top: -7px;
    right: -7px;

    width: 15px;
    height: 15px;

    border-radius: 50%;
    border: 1px solid #eee;
    background-color: #eee;

    cursor: pointer;
    color: #333;

    line-height: 0px;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    outline: none;
}